{% extends "base.html" %}
{% block content %}

<h2 class="page-title">About the Developer</h2>

<div class="developer-container">

    <div class="developer-card">

        <!-- ABOUT -->
        <p>
            <strong>LifeLens AI</strong> was built with a mission to improve everyday lifestyle 
            awareness using the power of <strong>Artificial Intelligence</strong>.
        </p>

        <hr>

        <!-- DETAILS -->
        <h3>👤 Developer Details</h3>

        <p><strong>Name:</strong> Anushka Khatua</p>
        <p><strong>Qualification:</strong> M.Tech in AI & DS (Final Year) | KIIT University, Bhubaneswar</p>
        <p><strong>Field of Interest:</strong> Artificial Intelligence in Healthcare</p>
        <p><strong>Objective:</strong> Building intelligent system that provides health insights</p>

        <hr>

        <!-- CONTACT -->
        <h3>🌐 Connect with the Developer</h3>

        <p>
            📧 Email: 
            <a href="mailto:anushkakhatua15@gmail.com">
                anushkakhatua15@gmail.com
            </a>
        </p>

        <p>
            💼 LinkedIn: 
            <a href="https://www.linkedin.com/in/anushka-khatua-51b567206" target="_blank">
                View Profile
            </a>
        </p>

    </div>

</div>

{% endblock %}