{% extends "base.html" %}
{% block content %}

<section class="hero">

    <h1 class="hero-title">Welcome to Lifelens AI : A Healthier and Smarter You</h1>

    <p class="hero-subtitle">
        An AI-powered lifestyle assistant that analyzes your daily habits to provide personalized risk awareness


    </p>

    <div class="hero-buttons">
        <a href="/analyze" class="btn-primary">🚀 Start Analysis</a>
        <a href="/insights" class="btn-secondary">📊 Learn More</a>
<p style="margin-top:20px; opacity:0.7;">
No medical diagnosis. Just awareness powered by AI.
</p>
    </div>

</section>

<section class="features">

    <div class="feature-card">
        <h3>🧠 AI Powered</h3>
        <p>Advanced machine learning models analyze your lifestyle patterns.</p>
    </div>

    <div class="feature-card">
        <h3>📊 Smart Insights</h3>
        <p>Get personalized recommendations to improve your health.</p>
    </div>

    <div class="feature-card">
        <h3>⚡ Instant Results</h3>
        <p>Quick analysis with real-time risk evaluation.</p>
    </div>

</section>

{% endblock %}